#titulo-h2 {
    color: darkorchid;
}

.fundo-amarelo {
    background: yellow;
}

.texto-vermelho {
    color: red;
}

h2 {
    color:crimson;
}

p {
    color:springgreen
}

h2 {
    color:darkmagenta
}

/* cascata */
/* especificaçao */